* {
    box-sizing: border-box;
}

body {
    font-family: Ubuntu, sans-serif;
    font-size: 0.875em;
    line-height: 1.4;
    margin: 0;
    min-width: 624px;
    min-height: 100vh;
}

.icon {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.icon-google {
    width: 25px;
    height: 16px;
    background-position: -5px -5px;
}

.icon-facebook {
    width: 10px;
    height: 20px;
    background-position: -103px -5px;
}

.icon-calendar {
    width: 20px;
    height: 20px;
    background-position: -103px -35px;
}

.icon-calendar:hover {
    width: 19px;
    height: 19px;
    background-position: -103px -65px;
}

.icon-forum {
    width: 28px;
    height: 20px;
    background-position: -123px -5px;
}

.icon-forum:hover {
    background-position: -133px -35px;
}

.icon-journey {
    width: 20px;
    height: 20px;
    background-position: -132px -65px;
}

.icon-journey:hover {
    background-position: -103px -95px;
}

.wrapper {
    background-image: url(../img/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.navigation {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 18px 0;
}

.navigation-holder {
    overflow: hidden;
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 1em;
}

.logo {
    float: left;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.571em;
    transition: 0.3s;
}

.navbar-right {
    float: right;
}

.navbar-icons {
    display: inline-block;
    vertical-align: middle;
    border-right: 1px solid rgba(255, 255, 255, 0.7);
    padding-right: 25px;
}

.navbar-login {
    display: inline-block;
    vertical-align: middle;
    margin-left: 25px;
}

.navbar-login a {
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s;
}

.navbar-login a:hover {
    color: #3CB878;
}

.logo:hover {
    color: #3CB878;
}

.navbar-icons-item {
    display: inline-block;
    vertical-align: middle;
}

.navbar-icons-link {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    text-decoration: none;
}

.main-content {
    padding: 60px 0 69px;
}

.sign-form {
    width: 444px;
    margin: 0 auto;
    padding: 25px 60px 30px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 4px 42px rgba(0, 0, 0, 0.76);
}

.sign-form-head {
    position: relative;
    padding-bottom: 20px;
}

.sign-form-head::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    left: -60px;
    top: 3px;
    background: #3CB878;
}

.sign-form-head::after {
    content: "";
    display: table;
    clear: both;
}

.sign-form-title {
    float: left;
    font-size: 20px;
}

.sign-form-head-right-link {
    float: right;
}

.sign-form-link {
    color: #3CB878;
    text-decoration: none;
    transition: 0.3s;
}

.sign-form-link:hover {
    color: pink;
}

.sign-form-buttons::after {
    content: "";
    display: table;
    clear: both;
}

.button {
    height: 47px;
    border-radius: 4px;
    color: #ffffff;
    font-size: 16px;
}

.button-facebook {
    float: left;
    background-color: #305DB8;
}

.button-google {
    float: right;
    background-color: #DF4A32;
}

.button-social {
    width: 160px;
    padding: 8px 20px;
    line-height: 28px;
}

.button-social-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 18px;
}

.button-social-text {
    display: inline-block;
    vertical-align: middle;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    padding-left: 20px;
}

.sign-form-divider {
    position: relative;
    text-align: center;
    margin: 20px 0;
    color: #848484;
}

.sign-form-divider::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 6px;
    height: 1px;
    width: 140px;
    background: #BEBEBE;
}

.sign-form-divider::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 6px;
    height: 1px;
    width: 140px;
    background: #BEBEBE;
}

.form-control {
    width: 100%;
    padding: 0 20px;
    margin-bottom: 10px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    line-height: 48px;
    color: #BEBEBE;
}

.form-control:focus {
    outline: none;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    color: #434343;
}

.checkbox {
    margin-top: 15px;
    }
    
.checkbox span {
    vertical-align: middle;
    color: #434343;
}

.button-default {
    margin-top: 26px;
    background:#3CB878;
    width: 100%;
}

.checkbox input[type=checkbox] {
    position: absolute;
    left: -9999px;
}

.checkbox__label {
    display: inline-block;
    vertical-align: top;
    padding-left: 35px;
    line-height: 24px;
    position: relative;
    box-sizing: border-box;
}

.checkbox__label:before {
    transition: 0.3s;
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
}

.checkbox__label:after {
    opacity: 0;
    visibility: hidden;
    content: ' ';
    display: block;
    height: 9px;
    width: 20px;
    border: 2px solid#3CB878;
    border-top-style: none;
    border-right-style: none;
    -ms-transform: rotate(-45deg) scale(.5);
    transform: rotate(-45deg) scale(.5);
    border-color: #3CB878;
    position: absolute;
    top: 1px;
    left: 6px;
    transition: 100ms ease-in-out;
}

.checkbox__input:checked~.checkbox__label:after {
    opacity: 1;
    visibility: visible;
    -ms-transform: rotate(-45deg) scale(1);
    transform: rotate(-45deg) scale(1);
}

.checkbox__input:focus~.checkbox__label:before {
    border: 1px solid #F2F2F2;;
}

